.btn-learnmore-abouts {
    font-size: 1.6rem;
    font-weight: 500;
    width: 138px;
    padding: 12px 20px;
    height: 54px;
    border-radius: 999px;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: #000 !important;
        color: #fff !important;
        border-color: transparent !important;
    }
}
