.wrapper {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    border: 1px solid #c3c3c3;
    box-shadow: 5px 5px 10px #888888;
}
.side-bar {
    width: 30%;
}
.list {
    padding: 16px;
    li {
        font-size: 1.7rem;
        font-weight: 500;
        padding: 8px 0 8px 8px;

        &:hover {
            background-color: rgba(22, 24, 35, 0.06);
        }
        span {
            margin-right: 8px;
        }
    }
}
.info {
    flex: 1;
    padding: 16px;
    h2 {
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 16px;
    }
}
