.wrapper {
}
.header-collection {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    padding: 42px 50px;
}
.product-collection {
    padding: 0 50px;
}
.title {
    font-size: 2.8rem;
    font-weight: 500;
}
.all-product {
    font-size: 1.9rem;
    font-weight: 400;
    background-position: left calc(1em + 3px);
    background-image: linear-gradient(to right, #000, #000);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    display: inline;
    padding-bottom: 3px;
    transition: all 0.1s linear;
    &:hover {
        background-size: 100% 2px;
    }
}
