.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    align-items: center;
    padding: 42px 50px;
}
.header-menu {
    width: 100%;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    justify-content: center;
}
.menu-result {
    left: 0;
    right: 0;
    width: 100%;
}
.menu-list {
    display: flex;
    padding: 26px 34px;
    width: 1280px;
}
.menu-item {
    padding: 0 16px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}
.logo {
    width: 90px;
}
.search-result {
    width: 450px;
}
.header-search {
    position: relative;
    width: 450px;
    height: 46px;
    padding-left: 16px;
    border-radius: 92px;
    background: rgba(22, 24, 35, 0.06);
    display: flex;
    border: 1px solid transparent;
    .search {
        flex: 1;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 21px;
        height: 100%;
        background-color: transparent;
    }
    &::after {
        content: '';
        position: absolute;
        height: 28px;
        width: 1px;
        top: 9px;
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.12);
    }
}
.btn-search {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.result-span {
    padding: 4px 12px;
}
.action-icon {
    width: 44px;
    height: 44px;
    background-color: transparent;
    font-size: 2rem;
}
